* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  
}

button {
  height: 78px;
  font-size: 32px;
}

.calculator {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr;
}

.operation-display, .result-display {
  text-align: right;
  height: 48px;
  border: 1px solid;
  font-weight: lighter;
  font-family: monospace;
}

.operation-display {
  text-align: right;
  height: 24px;
  font-size: 21px;
}

.result-display {
  text-align: right;
  height: 48px;
  font-size: 42px;
}

.control {
  display: grid;
  grid-template-areas: "ac ac del del"
                       "num7 num8 num9 multiply"
                       "num4 num5 num6 divide"
                       "num1 num2 num3 add"
                       "num0 period equal subtract";
}

#reset-key {
  grid-area: ac;
}

#del-key {
  grid-area: del;
}

#num7 {
  grid-area: num7;
}

#num8 {
  grid-area: num8;
}

#num9 {
  grid-area: num9;
}

#num4 {
  grid-area: num4;
}

#num5 {
  grid-area: num5;
}

#num6 {
  grid-area: num6;
}

#num1 {
  grid-area: num1;
}

#num2 {
  grid-area: num2;
}

#num3 {
  grid-area: num3;
}

#num0 {
  grid-area: num0;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#equal {
  grid-area: equal;
}

#period-key {
  grid-area: period;
}