* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

button {
  height: 77px;
  font-size: 42px;
  border-radius: 16px;
  font-weight: bolder;
  background-color: #585151;
  color: white;
}

.footer {
  display: flex;
  font-size: 32px;
  position: absolute;
  bottom: 0%;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.footer img {
  height: 28px;
  width: 28px;
}

.calculator {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  border: 1px solid;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 22px;
  padding: 16px;
  gap: 28px;
  background-color: #dbd9d9;
}

.display {
  border-radius: 8px;
  border: 1px solid;
  background-color: rgb(177 177 177);
}

.operation-display, .result-display {
  text-align: right;
  height: 48px;
  font-weight: lighter;
  font-family: monospace;
}

.operation-display {
  text-align: right;
  height: 24px;
  font-size: 21px;
}

.result-display {
  text-align: right;
  height: 48px;
  font-size: 42px;
}

.operator {
  background-color: #83afeb;
}

.del, .reset {
  background-color: #eb5050;
}

.control {
  display: grid;
  gap: 8px;
  /* margin-top: 8px; */
  grid-template-areas: "ac ac del del"
                       "num7 num8 num9 multiply"
                       "num4 num5 num6 divide"
                       "num1 num2 num3 add"
                       "num0 period equal subtract";
}

#reset-key {
  grid-area: ac;
}

#del-key {
  grid-area: del;
}

#num7 {
  grid-area: num7;
}

#num8 {
  grid-area: num8;
}

#num9 {
  grid-area: num9;
}

#num4 {
  grid-area: num4;
}

#num5 {
  grid-area: num5;
}

#num6 {
  grid-area: num6;
}

#num1 {
  grid-area: num1;
}

#num2 {
  grid-area: num2;
}

#num3 {
  grid-area: num3;
}

#num0 {
  grid-area: num0;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#equal {
  grid-area: equal;
}

#period-key {
  grid-area: period;
}